<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <title>글작성</title>
    <style>
        .container {
            max-width: 560px;
        }
        .postBody {
            height:200px;
        }
        .del_btn {
            border-color: black;
        }
        .fn_add_btn {
            border-color: black;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>글 작성</h2>
    </div>
    <form action="post.html" th:action method="post" autocomplete="off" enctype="multipart/form-data">
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" class="form-control">
        </div>
        <div>
            <label for="postBody">내용</label>
            <textarea id="postBody" name="postBody" class="form-control" rows="10"></textarea>
        </div>
        <div>
        <tr>
            <th>첨부파일</th>
            <td colspan="3">
                <div class="file_list">
                    <div>
                        <div class="file_input">
                            <input type="text" readonly />
                            <label>
                                <input type="file" name="files" onchange="selectFile(this);" />
                            </label>
                        </div>
                        <button type="button" onclick="removeFile(this);" class="btn del_btn"><span>삭제</span></button>
                        <button type="button" onclick="addFile();" class="btn fn_add_btn"><span>파일 추가</span></button>
                    </div>
                </div>
            </td>
        </tr>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">작성</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='posts.html'"
                        th:onclick="|location.href='@{/posts}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    const removeFileId = (function() {
        const ids = [];
        return {
            add(id) {
            if (ids.includes(id)) {
                return false;
            }
            ids.push(id);
        },
        getAll() {
            return ids;
        }
    }());

    // 파일 선택
    function selectFile(element) {

        const file = element.files[0];
        const filename = element.closest('.file_input').firstElementChild;

        // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
        if ( !file ) {
            filename.value = '';
            return false;
        }

        // 2. 파일 크기가 10MB를 초과하는 경우
        const fileSize = Math.floor(file.size / 1024 / 1024);
        if (fileSize > 10) {
            alert('10MB 이하의 파일로 업로드해 주세요.');
            filename.value = '';
            element.value = '';
            return false;
        }

        // 3. 파일명 지정
        filename.value = file.name;
    }


    // 파일 추가
    function addFile() {
        const fileDiv = document.createElement('div');
        fileDiv.innerHTML =`
            <div class="file_input">
                <input type="text" readonly />
                <label> 첨부파일
                    <input type="file" name="files" onchange="selectFile(this);" />
                </label>
            </div>
            <button type="button" onclick="removeFile(this);" class="btn del_btn"><span>삭제</span></button>
        `;
        document.querySelector('.file_list').appendChild(fileDiv);
    }


    // 파일 삭제
    function removeFile(element) {
        const fileAddBtn = element.nextElementSibling;
        if (fileAddBtn) {
            const inputs = element.previousElementSibling.querySelectorAll('input');
            inputs.forEach(input => input.value = '')
            return false;
        }
        element.parentElement.remove();
    }

    //출처: https://congsong.tistory.com/39 [Let's develop:티스토리]
    /*]]>*/
</script>
</body>
</html>