<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}"href="css/bootstrap.min.css" rel="stylesheet">
    <title th:text="${post.title}">포스팅</title>
    <style>
        .container {
            max-width: 560px;
        }
        .postBody {
            display: inline;
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
        <div class="py-5 text-center">
            <h2>게시글</h2>
            <div class="text-end" style="float: right;">
                <form th:action="@{/logout}" method="post">
                    <button class="w-100 btn btn-dark btn-lg" type="submit">
                        로그아웃
                    </button>
                </form>
            </div>
        </div>
        <hr class="my-4">
        <h2 th:if="${param.status}" th:text="'저장완료!'"></h2>
        <div>
            <p align="right" id="date" th:text="${post.postDate}"
                style="font-size:15px;">게시일</p>
        </div>
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" class="form-control"
                    value="제목" th:value="${post.title}" readonly>
        </div>
        <div>
            <label for="postBody">내용</label>
            <textarea id="postBody" name="postBody" class="form-control" rows="10"
                      th:text="${post.postBody}" readonly></textarea>
        </div>

        <!-- comment -->
        <label for="cm_list">댓글</label>
        <div id="cm_list" class="cm_list">

        </div>
        <div class="cm_write">
            <fieldset>
                <label for="cm_input">댓글 입력</label>
                <div id="cm_input" class="cm_input">
                    <p><textarea id="commentBody" name="commentBody" onkeyup="countingLength(this);"
                                 cols="90" rows="4" placeholder="댓글을 입력해 주세요."></textarea></p>
                    <span><button type="button" class="btn-save" onclick="saveComment();">등 록</button><i id="counter">0/300자</i></span>
                </div>
            </fieldset>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='editPostForm.html'"
                        th:onclick="|location.href='@{/posts/{id}/edit(id=${post.postId})}'|"
                        type="button">수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='posts.html'"
                        th:onclick="|location.href='@{/posts}'|"
                        type="button">목록
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-warning btn-lg"
                        onclick="location.href='/delete'"
                        th:onclick="|location.href='@{posts/{postId}/delete(postId=${post.postId})}'|"
                        type="button">삭제
                </button>
            </div>
        </div>
    </div>

<th:block layout:fragment="script">
</th:block>
</body>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/
        $(".cm_re_info > button").click(function(){
		var submenu = $(this).parent().next("div.hide_view");
		if( submenu.is(":visible") ){
			submenu.removeClass("open");
		}else{
			submenu.addClass("open");
		}
	    });

        function hasCode(value) {
            return ((value.charCodeAt(value.length - 1) - 0xAC00) % 28) > 0;
        }

        function isValid(target, fieldName, focusTarget) {
            if (target.value.trim()) {
                return true;
            }

            const particle = (hasCode(fieldName)) ? '을' : '를'
            const elementType = (target.type === 'text' || target.type === 'password' || target.type === 'search' || target.type === 'textarea') ? '입력' : '선택';
            alert( `${fieldName + particle} ${elementType}해 주세요.` );

            target.value = '';
            ( !focusTarget ? target : focusTarget).focus();
            throw new Error(`"${target.id}" is required...`)
        }

        // 댓글 길이 카운팅
        function countingLength(commentBody) {
            if (commentBody.value.length > 300) {
                alert('댓글을 300자 이하로 입력해 주세요.');
                commentBody.value = commentBody.value.substring(0, 300);
                commentBody.focus();
            }
            document.getElementById('counter').innerText = commentBody.value.length + '/300자';
        }

        // 댓글 목록
        window.onload = () => {
            commentList();
        }

        function commentList() {
            const postId = [[ ${post.postId} ]];

            $.ajax({
                url : `/posts/${postId}/comments`,
                type : 'get',
                dataType : 'json',
                async : false,
                success : function (response) {

                    // 1. 조회된 데이터가 없는 경우
                    if ( !response.length ) {
                        document.querySelector('.cm_list').innerHTML = '<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>';
                        return false;
                    }

                    // 2. 렌더링 할 HTML 을 저장할 변수

                    let commentHtml = '';

                    // 3. 댓글 HTML 추가
                    response.forEach(row => {
                        commentHtml += `
                            <div>
                                <div class="cm_body">
                                    <span class="form-control">${row.commentBody}</span>
                                    <div class="cm_date">${row.commentDate}</div>
                                </div>
                                <p class="func_btn">
                                    <button type="button" class="cm_btn"><span class="icons icon_modify">수정</span></button>
                                    <button type="button" class="cm_btn"><span class="icons icon_del">삭제</span></button>
                                </p>
                            </div>
                            `;
                            })

                    // 4. class 가 "cm_list" 인 요소를 찾아 HTML 렌더링
                    document.querySelector('.cm_list').innerHTML = commentHtml;
                    console.log(response);
                    },
                error : function (request, status, error) {
                    console.log(error)
                    }
            })
        }

        // 댓글 저장
        function saveComment() {

            const commentBody = document.getElementById('commentBody');
            isValid(commentBody, '댓글');

            const postId = [[ ${post.postId} ]];
            const params = {
                postId : postId,
                commentBody : commentBody.value,
            }

            $.ajax({
                url : `/posts/${postId}/comments`,
                type : 'post',
                contentType : 'application/json; charset=utf-8',
                dataType : 'json',
                data : JSON.stringify(params),
                async : false,
                success : function (response) {
                    alert('저장되었습니다.');
                    content.value = '';
                    document.getElementById('counter').innerText = '0/300자';
                    commentList();
                    console.log(response);
                },
                error : function (request, status, error) {
                    console.log(error)
                }
            })
        }
    /*]]>*/
</script>
